body
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-color: #001D3D;
  margin-left: 150px;
  margin-right: 150px;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #ffc300;
  margin-top: 50px;
  margin-bottom: 10px;
  border-style: inset;
  border-color: #ffc300;
}

footer
{
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

main
{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3
{
  text-align: center;
  color: #ffc300;
}

p
{
  text-align: center;
}

a
{
  color: #76c893;
  text-decoration: none;
}

script
{
  text-align: center;
}

a:hover
{
  text-decoration: underline;
  color: #ffc300;
}

figure
{
  text-align: center;
}

nav
{
  text-align: center;
}

th, td
{
  text-align: left;
  border: 1px #ffc300;
  vertical-align: middle;
  padding: .2em 1em .2em .3em;;
}

th
{
  background-color: #2A2E34;
}

table
{
  table-layout: auto;
  border-style: groove;
  border-color: #ffc300;
  margin: 0px auto;
}

table tr:nth-child(even)
{
  background-color: #001d3d;
}

form
{
  background-color: #ffc300;
  color: #001d3d;
  text-align: center;
  border-style: inset;
  margin-top: 50px;
}
