body
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-color: #dddf00;
  margin-left: 150px;
  margin-right: 150px;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #003566;
  margin-top: 50px;
  margin-bottom: 50 px;
}

