body
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-color: #001D3D;
  margin-left: 100px;
  margin-right: 100px;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #ffc300;
  margin-top: 50px;
  margin-bottom: 10px;
  border-style: inset;
  border-color: #ffc300;
}

footer
{
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

main
{
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

h1
{
  text-align: center;
  color: #ffc300;
}

h2
{
  text-align: center;
  color: #ffc300;
}

h3
{
  text-align: left;
  color: #ffc300;
}

a
{
  color: silver;
  text-decoration: none;
}

li
{
  margin: 5px 5px 5px 5px;
}

script
{
  text-align: center;
}

a:hover
{
  text-decoration: underline;
  color: #ffc300;
}

figure
{
  text-align: center;
  border-radius: 45px;
  border-color: #2A2E34;
  border: 5px;
  border-style: solid;
}

img{
  border-color: #2A2E34;
  border: 5px;
  border-style: solid;
  text-align: center;
}

nav
{
  text-align: center;
}

th, td
{
  text-align: left;
  border: 5px #ffc300;
  vertical-align: middle;
  padding: .2em 1em .2em .3em;;
}

th
{
  background-color: #2A2E34;
}

table, th, td
{
  table-layout: auto;
  border: 5px #ffc300;
  border-color: #ffc300;
  margin: 10px auto;
}

table tr:nth-child(even)
{
  background-color: #001d3d;
}

form
{
  background-color: #ffc300;
  color: #001d3d;
  text-align: center;
  border-style: inset;
  margin-top: 50px;
}


