<footer>
    <br>
    <nav>
        <a href = "https://webpages.charlotte.edu/dkravchu/">Charlotte.edu</a>
        &diams; 
        <a href = "https://github.com/OwlStalker">Github</a>
        &diams; 
        <a href = "https://owlstalker.github.io/">Github.io</a>
        &diams; 
        <a href = "https://www.freecodecamp.org/DavidKravy">freeCodeCamp</a>
        &diams; 
        <a href = "https://app.codingrooms.com/app/course/itis3135-j-Rwrq0">CodeAcademy</a>
        &diams; 
        <a href = "https://www.linkedin.com/in/david-kravchuk-b7232b229/">LinkedIn</a>
        &diams; 
        <a href = "https://jsfiddle.net/user/fiddles/all/">jsfiddle</a>
    </nav>
    <br> 
    <p> Created by <a href="kravchuklimited.co/index.html">Kravchuk Limited &copy;2022</a></p>
        <p>
            <a href = "https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css" style="text-decoration:none">
                <img src = "images/button_validation_css.png" width="88" height="31" alt="CSS picture"/>
            </a>
            <a href = "https://validator.w3.org/check?uri=referer" id = "validation_link_html" style="text-decoration:none">
                <img src = "images/button_validation_html5.png" width="88" height="31" alt="HTML picture"/>
            </a>
        </p>
    <script>        
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>
