<header>
    <nav>
        <a href = "./">Home</a>
        &diams; 
        <a href = "introduction.html">Introduction</a> 
        &diams; 
        <a href = "contract.html">Contract</a>
        &diams; 
        <a href = "tables.html">HTML Tables</a>
        &diams; 
        <a href = "forms.html">Forms</a>  
        &diams; 
        <a href = "website_evaluations.html">Websites Evaluations</a>
        &diams;
        <a href = "firstscripts.html">Javascript</a>
        &diams;
        <a href = "polygons.html">Polygons</a>
        &diams;
        <a href = "calculator_try.html">Calculator Try</a>
        &diams;
        <a href = "calculator.html">Calculator</a>
        &diams;
        <a href = "arrays.html">Arrays</a>
        &diams;
        <a href = "hobby.html">Midterm</a>
        &diams;
        <a href = "projectdesign.html">Project Design</a>
        &diams;
        <a href = "slideshow.html">Slideshow</a>
        &diams;
        <a href = "activity10.html">Image Swap</a>
        &diams;
        <a href = "kravchuk-Activity11.html">Accordian</a>
        &diams;
        <a href = "kravchuk-Activity12.html">Carousel</a>
        &diams;
        <a href = "peer_review1.html">Peer Review 1</a>
        &diams;
        <a href = "peer_review2.html">Peer Review 2</a>
        &diams;
        <a href = "activity13/kravchuk-activity13.html">Activity 13</a>
        &diams;
        <a href = "activity14/kravchuk-activity14.html">Activity 14</a>
        &diams;
        <a href = "activity15/kravchuk-activity15.html">Activity 15</a>
        <br>

        &diams; 
        <a href = "brand-digital-koala.html">Brand</a>
        &diams; 
        <a href = "stuff/dogeroo.html">Crappy</a>
        &diams;
        <a href = "exercises/Accessibility/Kravchuk-Activity_Accessibility.html">Accessibility</a>
    </nav>
</header>