<nav>
    <a href = "./">Home</a>
    &diams; 
    <a href = "introduction.html">Introduction</a> 
    &diams; 
    <a href = "contract.html">Contract</a>
    &diams; 
    <a href = "tables.html">HTML Tables</a>
    &diams; 
    <a href = "forms.html">Forms</a>
    &diams; 
    <a href = "brand-digital-koala.html">Brand</a>  
    &diams; 
    <a href = "website_evaluations.html">Websites Evaluations</a>
    &diams;
    <a href = "firstscripts.html">Javascript</a>
    &diams;
    <a href = "polygons.html">Polygons</a>
    &diams;
    <a href = "calculator_try.html">Calculator Try</a>
    &diams;
    <a href = "calculator.html">Calculator</a>
    &diams;
    <a href = "arrays.html">Arrays</a>
    &diams;
    <a href = "exercises/Accessibility/Kravchuk-Activity_Accessibility.html">Accessibility</a>
    &diams;
    <a href = "flyingbeesllc.html">Project Design</a>
</nav>